<ul>
	<li ng-repeat="message in messages">
		<!-- edit a message -->
		<input ng-model="message.text" ng-change="messages.$save(message)" />
		<!-- delete a message -->
		<button ng-click="messages.$remove(message)">Delete Message</button>
	</li>
</ul>

<form name="chatForm" id="chatForm" ng-submit="addMessage()" novalidate>
	<textarea placeholder="What's on your mind?" name="text" class="form-control" ng-model="newMessage" required></textarea>
	
	<div class="form-group send-tweet">
		<button type="submit" class="btn btn-primary" ng-disabled="chatForm.$invalid">
		<!-- TEST CODE: FIX BEFORE TURINING IN -->
		<button type="submit" class="btn btn-primary" ng-click="calcDistance(47.654663199999995, -122.3082465, 47.6567, -122.3103)" ng-disabled="chatForm.$invalid">
			<i class="fa fa-pencil-square-o"></i> Share
		</button>
	</div>
</form>
