
<form name="chatForm" id="chatForm" novalidate>
	<h1>Sign Up</h1>	
	<!-- EMAIL -->
	<div class="form-group" ng-class="{ 'has-error': chatForm.username.$touched && chatForm.username.$invalid }">
		<label>Username</label>
		<input type="username" name="username" placeholder="Username" class="form-control" ng-model="main.username" required>
		<div class="help-block" ng-messages="chatForm.username.$error" ng-if="chatForm.username.$touched">
			<p ng-message="required">Your username address is required.</p>
			<p ng-message="username">Your username address is invalid.</p>
		</div>
	</div>

	<!-- Password entries -->
	<div class="form-group" ng-class="{ 'has-error': chatForm.password.$touched && chatForm.password.$invalid}">
		<label>Password</label>
		<input type="password" name="password" placeholder="Password" class="form-control" ng-model="main.password" ng-change="checkFormPass()" required>
		<div class="help-block" ng-messages="chatForm.password.$error" ng-if="chatForm.password.$touched" ng-minlength="7" required>
			<p ng-message="required">Please enter a password</p>
			<p ng-message="minlength">Please type at least 7 characters for your password.</p>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': chatForm.cPassw.$touched && chatForm.cPassw.$invalid}">
		<label>Confirm Password</label>
		<input type="password" name="cPassw" placeholder="Confirm Password" class="form-control" ng-model="main.cPassw" ng-change="checkFormPassSU()"  required>
		<div class="help-block" ng-messages="chatForm.cPassw.$error" ng-if="chatForm.cPassw.$touched">
			<p ng-message="required">Please confirm your password</p>
		</div>
		<div class="help-block" ng-if="chatForm.cPassw.$invalid && chatForm.cPassw.$touched">
			<p>Please make sure both of your passwords match.</p>
		</div>
	</div>

	<!--The submit button and reset button.-->
	<a href="#/users"><button type="submit" class="btn btn-success" ng-click="submitForm(chatForm.$valid)" ng-disabled="chatForm.$invalid" id="submitButton" value="Submit">Sign Up!</button></a>

</form>

