<form name="chatForm" class="form-horizontal" id="chatForm" novalidate>
	<h1>Sign Up</h1>
	<!-- EMAIL -->
	<div class="form-group" ng-class="{ 'has-error': chatForm.email.$touched && chatForm.email.$invalid }">
		<label class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" name="email" placeholder="Email Address" class="form-control" ng-model="main.email" required>
		</div>
		<div class="help-block" ng-messages="chatForm.email.$error" ng-if="chatForm.email.$touched">
			<p ng-message="required">Your email address is required.</p>
			<p ng-message="email">Your email address is invalid.</p>
		</div>
	</div>	

	<!-- Username -->
	<div class="form-group" ng-class="{ 'has-error': chatForm.username.$touched && chatForm.username.$invalid }">
		<label class="col-sm-2 control-label">Username</label>
		<div class="col-sm-10">
			<input type="username" name="username" placeholder="Username" class="form-control" ng-model="main.username" ng-minlength="7" required>
		</div>
		<div class="help-block" ng-messages="chatForm.username.$error" ng-if="chatForm.username.$touched">
			<p ng-message="required">Your username address is required.</p>
			<p ng-message="username">Your username address is invalid.</p>
			<p ng-message="minlength">Please type at least 7 characters for your username.</p>
		</div>
	</div>

	<!-- Password entries -->
	<div class="form-group" ng-class="{ 'has-error': chatForm.password.$touched && chatForm.password.$invalid}">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" name="password" placeholder="Password" class="form-control" ng-model="main.password" ng-change="checkFormPass()" required>
		</div>
		<div class="help-block" ng-messages="chatForm.password.$error" ng-if="chatForm.password.$touched" ng-minlength="7" required>
			<p ng-message="required">Please enter a password</p>
			<p ng-message="minlength">Please type at least 7 characters for your password.</p>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': chatForm.cPassw.$touched && chatForm.cPassw.$invalid}">
		<label class="col-sm-2 control-label">Confirm Password</label>
		<div class="col-sm-10">
			<input type="password" name="cPassw" placeholder="Confirm Password" class="form-control" ng-model="main.cPassw" ng-change="checkFormPassSU()"  required>
		</div>
		<div class="help-block" ng-messages="chatForm.cPassw.$error" ng-if="chatForm.cPassw.$touched">
			<p ng-message="required">Please confirm your password</p>
		</div>
		<div class="help-block" ng-if="chatForm.cPassw.$invalid && chatForm.cPassw.$touched">
			<p>Please make sure both of your passwords match.</p>
		</div>
	</div>

	<!--The submit button and reset button.-->
	<div class="form-group">
		<button type="submit" class="btn btn-custom" ng-click="signup(chatForm.$valid)" ng-disabled="chatForm.$invalid" id="submitButton" value="Submit">
			<i class="fa fa-user-secret"></i></i>Sign Up!
		</button>
	</div>	
</form>

