<!--The Form for User's are Listed page-->	
<form name="chatForm" id="chatForm" novalidate>
	<p> logged in as {{ user.username }} </p>
	<ul>
		<li ng-repeat="user in nearbyUsers"> {{ user.username}}  |   {{calcDistance(user.lat, user.long) | number:0}} meters
			<!--Button to submit message-->	
			<button type="submit" class="btn btn-custom" id="{{user.username}}" value="Submit" ng-click="startChat(user.username)">
				<i class="fa fa-paper-plane"></i>  Chat
			</button>
		</li>
	</ul>
	<!--Button to Refresh Users-->	
	<button class="btn btn-custom" ng-click="getNearbyUsers()" id="refresh" value="refresh">
		<i class="fa fa-refresh"></i>  Refresh Users
	</button>
</form>



